/* You can add global styles to this file, and also import other style files */
.row {
    margin: 0;
}

/*.footer {
    width:100%;
    background-color: black;
    height: 50px;
}*/


/*.Site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}*/

/*.Site-content {
  flex: 1;
}*/